.profil {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 75px;
  width: 100vw;
  height: 100vh;
  h1 {
    margin-bottom: 30px;
    margin-top: 40px;
    color: white;
    font-size: 60px;
  }
  img {
    width: 30%;
    border-radius: 50px;
  }
  h2 {
    width: 60%;
    margin-top: 40px;
    color: white;
    font-size: 40px;
    text-align: left;
  }

  p {
    width: 60%;
    margin-top: 40px;
    color: white;
    font-size: 30px;
    text-align: left;
  }
}
